################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/server/.vs/server/FileContentIndex/17a8dc16-3a34-4628-be9b-4fdbb09725a8.vsidx
/backend/server/.vs/server/FileContentIndex/409fae43-b435-4f1b-a1ed-57f49aebfeaf.vsidx
/backend/server/.vs/server/FileContentIndex/52dae62a-b5be-4907-9e5d-755da3886168.vsidx
/backend/server/.vs/server/FileContentIndex/7e0d427d-77b1-4649-ac45-c0925b66f57e.vsidx
/backend/server/.vs/server/FileContentIndex/cee6dafe-a3d0-4ec4-9f2d-d925c1d1a880.vsidx
/backend/server/.vs/server/FileContentIndex/84f62f4f-6516-402d-9742-424ee3d61be5.vsidx
