################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOP_Ecom/FileContentIndex
/.vs/OOP_Ecom/FileContentIndex/219fea58-0242-401b-868c-acd38c0cba54.vsidx
/.vs/OOP_Ecom/FileContentIndex/422987ae-7834-4d1a-a851-841c7b91c969.vsidx
/.vs/OOP_Ecom/FileContentIndex/6efa1957-a512-4c8f-9335-04859e212a82.vsidx
/.vs/OOP_Ecom/FileContentIndex/826101ba-0da5-4c70-bc41-c6b066d68e23.vsidx
/backend/server/.vs/server/FileContentIndex
